<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <!-- Internet permission (needed for any network operations, e.g., APIs, Firebase, etc.) -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <!-- Access network state (optional, to check if the device is connected to a network) -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <!-- Location permission (if you're using campus navigation with maps or location-based features) -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <!-- External storage (optional: if loading PDFs, images, or allowing file uploads for complaints) -->
<!--    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"-->
<!--        android:maxSdkVersion="28" />-->
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SouthCampus"

        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
<!--        <activity android:name=".LoginActivity"-->
<!--            android:exported="true">-->
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->
<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
<!--        </activity>-->
        <activity android:name=".AcademicActivity" />
        <activity android:name=".NavigationActivity" />
        <activity android:name=".TransportActivity" />
        <activity android:name=".CafeteriaActivity" />
        <activity android:name=".FacilityActivity" />
        <activity android:name=".EventsActivity" />
        <activity android:name=".HostelActivity" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".SettingsActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".SyllabusActivity" />




        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDlfciXCG0yqwXS4yzwlSCyhzFIr8ni3SA"/>



    </application>

</manifest>